<div [@routerTransition]>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <mat-card class="example-card">
                <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Sunmal Enterpise</mat-card-title>
                          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                        </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <!-- <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                        <div class="carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel> -->
                <!-- <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                        <div class="carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel> -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-xl-9 col-lg-6">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <mat-card class="example-card">
                        <!-- <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header> -->
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let slider of sliders">
                                <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide"
                                    width="100%"  style=" height:300px;">
                                <div class="carousel-caption">
                                    <h3>{{slider.label}}</h3>
                                    <p>{{slider.text}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                        <!-- <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let slider of sliders">
                            <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                            <div class="carousel-caption">
                                <h3>{{slider.label}}</h3>
                                <p>{{slider.text}}</p>
                            </div>
                        </ng-template>
                    </ngb-carousel> -->
                        <!-- <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content> -->
                        <!-- <mat-card-actions> -->
                            <!-- <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button> -->
                        <!-- </mat-card-actions> -->
                    </mat-card>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <mat-card class="example-card">
                        <!-- <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header> -->
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <!-- <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let slider of sliders">
                            <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                            <div class="carousel-caption">
                                <h3>{{slider.label}}</h3>
                                <p>{{slider.text}}</p>
                            </div>
                        </ng-template>
                    </ngb-carousel> -->
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.

                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <!-- <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button> -->
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <mat-card class="example-card">
                        <!-- <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header> -->
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <!-- <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let slider of sliders">
                            <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                            <div class="carousel-caption">
                                <h3>{{slider.label}}</h3>
                                <p>{{slider.text}}</p>
                            </div>
                        </ng-template>
                    </ngb-carousel> -->
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.

                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <!-- <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button> -->
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xl-4 col-lg-6">
                        <mat-card class="example-card">
                            <!-- <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Shiba Inu</mat-card-title>
                                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                </mat-card-header> -->
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <!-- <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let slider of sliders">
                                <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                                <div class="carousel-caption">
                                    <h3>{{slider.label}}</h3>
                                    <p>{{slider.text}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel> -->
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <!-- <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                            <mat-card class="example-card">
                                <!-- <mat-card-header>
                                      <div mat-card-avatar class="example-header-image"></div>
                                      <mat-card-title>Shiba Inu</mat-card-title>
                                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                    </mat-card-header> -->
                                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                <!-- <ngb-carousel>
                                <ng-template ngbSlide *ngFor="let slider of sliders">
                                    <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                                    <div class="carousel-caption">
                                        <h3>{{slider.label}}</h3>
                                        <p>{{slider.text}}</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel> -->
                                <mat-card-content>
                                    <p>
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                        Japan.
                                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                        originally
                                        bred for hunting.
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button> -->
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                                <mat-card class="example-card">
                                    <!-- <mat-card-header>
                                          <div mat-card-avatar class="example-header-image"></div>
                                          <mat-card-title>Shiba Inu</mat-card-title>
                                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                        </mat-card-header> -->
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                    <!-- <ngb-carousel>
                                    <ng-template ngbSlide *ngFor="let slider of sliders">
                                        <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                                        <div class="carousel-caption">
                                            <h3>{{slider.label}}</h3>
                                            <p>{{slider.text}}</p>
                                        </div>
                                    </ng-template>
                                </ngb-carousel> -->
                                    <mat-card-content>
                                        <p>
                                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                            Japan.
                                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                            originally
                                            bred for hunting.
                                        </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <!-- <button mat-button>LIKE</button>
                                    <button mat-button>SHARE</button> -->
                                    </mat-card-actions>
                                </mat-card>
                            </div>

            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <!-- <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                        <div class="carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel> -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Shiba Inu</mat-card-title>
                                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <!-- <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let slider of sliders">
                                <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                                <div class="carousel-caption">
                                    <h3>{{slider.label}}</h3>
                                    <p>{{slider.text}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel> -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Shiba Inu</mat-card-title>
                                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <!-- <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let slider of sliders">
                                <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                                <div class="carousel-caption">
                                    <h3>{{slider.label}}</h3>
                                    <p>{{slider.text}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel> -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6">
            <mat-card class="example-card">
                <!-- <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Shiba Inu</mat-card-title>
                                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                </mat-card-header> -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <!-- <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let slider of sliders">
                                <img mat-card-image class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%"  height="100%">
                                <div class="carousel-caption">
                                    <h3>{{slider.label}}</h3>
                                    <p>{{slider.text}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel> -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <hr />
    <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <hr />
    <!-- <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>

                <app-timeline></app-timeline>

            </div>

        </div>

        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>

                <app-notification></app-notification>

            </div>


            <app-chat></app-chat>

        </div>

    </div> -->
</div>
